*{
    font-family: Arial, Helvetica, sans-serif;
	/* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
	/*font-size: medium;*/
    margin: 0px;
    padding: 0px;
}

body {
	background-color: #ccc;
	background-image: url("../IMG/background.jpg");
	width: 80%; 
	margin: 2px auto;	
} 

.container_banner {
	width:  100%;
    height: 170px;
    
	position: relative;
}

.banner_img { 
	width: 100%;   	   
	height: 100%;
	border-radius: 10px;
	box-shadow: rgba(0,0,150,0.8) 2px 2px 25px;
	/* position: absolute; */
}

 .banner_text {		
    font-size: 60px;
	max-width: 100%;	
	width: fit-content;
	height: fit-content;
	color: firebrick;
	position: absolute;
	inset: 0;
	margin: auto;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;	
	text-shadow:  rgb(0,0,150) 1px 1px 1px;
}

h2 {
	font-size: 30px;
	margin: 10px 0;
	color: #023161 ;
	font-style: italic;
	text-align:center;
	text-shadow:  rgb(0,0,150) 1px 1px 1px;
}

nav ul {
    border-radius:20px;
	padding: 0px 0px 0px 0px;	
	background-color: rgb(76, 76, 211);	
	text-align:center;
}

nav ul li {
	display: inline; /* despliega en forma horizontal los vinculos del nav */
	padding: 0px 20px 0px 20px;	
	border-right: 2px solid #fff;
	text-align:center;
}

nav ul li:last-child {
	border-right: none; /* Elimina el separador a la derecha del "Acerca de" */	
}

nav ul li a {
	color: pink;
	text-decoration: none; /* decoracion del vinculo */
	font-size: 24px;
	font-weight: bold;
	text-align:center;
	text-shadow:  rgb(0,0,150) 1px 1px 1px;
}

.nav__link--color-red {
	color:firebrick;
}

nav ul li a:hover {     /* uso de la pseudoclase*/
	color: white;
}

p {
	text-align: justify;
	letter-spacing: 1px;
}

main p:first-letter {
    color: firebrick;
    font-size: 30px;
    font-weight: bold;
	text-shadow:  rgb(0,0,150) 1px 1px 1px;
}

/*#buttonEditar{
	align-content: center;
}*/

table {
    width: 100%;
    border-collapse: collapse;    
}

th, td {
    border: 3px solid rgb(2, 1, 36);    
    padding: 5px;   
    text-align: center;
}

/* .producto {  /* Para poner en negrita los nombres de los productos*/ /*
	font-weight: bold;
} */

th {
    background-color: rgba(7, 7, 7, 0.7);
    color: white;
    font-size: 1.3rem;
}

tr:nth-child(even) {
    background-color: #eee;
}

tbody tr td:nth-child(2) {
	font-weight: bold;
}

tr:hover {
    background-color: #aaa;
    cursor: pointer;
}

footer p {
	text-align: center;
	font-size: 16px;
	color: gray;
	margin-top: 24px;
}